In [1]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# Display original column names
print("Original Columns:")
print(df.columns)

# Standardize column names
df.columns = df.columns.str.lower().str.replace(" ", "_").str.replace("st", "state")

print("Updated Columns:")
print(df.columns)

Original Columns:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Updated Columns:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

In [2]:
# Standardize 'gender' column
df['gender'] = df['gender'].str.strip().str.upper().replace({'FEMAL': 'F', 'FEMALE': 'F', 'MALE': 'M'})

# Replace state abbreviations with full names
state_map = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
df['state'] = df['state'].replace(state_map)

# Replace inconsistent values in 'education'
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

# Remove '%' in 'customer_lifetime_value' and convert to numeric
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)

# Replace specific values in 'vehicle_class'
luxury_categories = ['Sports Car', 'Luxury SUV', 'Luxury Car']
df['vehicle_class'] = df['vehicle_class'].replace(luxury_categories, 'Luxury')

print("Cleaned Dataset Sample:")
print(df.head())

KeyError: 'customer_lifetime_value'

In [3]:
# Format 'customer_lifetime_value' as numeric (already done in Exercise 2)

# Clean 'number_of_open_complaints'
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1].astype(float)

# Verify and display data types
print("Updated Data Types:")
print(df.dtypes)

Updated Data Types:
custateomer                    object
state                          object
gender                         object
education                      object
custateomer_lifetime_value     object
income                        float64
monthly_premium_auto          float64
number_of_open_complaints     float64
policy_type                    object
vehicle_class                  object
total_claim_amount            float64
dtype: object

In [4]:
# Check for null values
null_counts = df.isnull().sum()
print("Null Values Count:")
print(null_counts)

# Fill null values
# Example strategies:
# - Fill numerical columns with mean
# - Fill categorical columns with mode
for column in df.columns:
    if df[column].dtype == 'object':
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df[column].fillna(df[column].mean(), inplace=True)

# Verify null values are handled
null_counts_after = df.isnull().sum()
print("Null Values Count After Handling:")
print(null_counts_after)

# Convert numeric columns to integers
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns] = df[numeric_columns].astype(int)

print("Updated Data Types After Converting to Integers:")
print(df.dtypes)

Null Values Count:
custateomer                   2937
state                         2937
gender                        3054
education                     2937
custateomer_lifetime_value    2940
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64
Null Values Count After Handling:
custateomer                   0
state                         0
gender                        0
education                     0
custateomer_lifetime_value    0
income                        0
monthly_premium_auto          0
number_of_open_complaints     0
policy_type                   0
vehicle_class                 0
total_claim_amount            0
dtype: int64
Updated Data Types After Converting to Integers:
custateomer                   object
state                         object
gender                        object
education                     object
custateomer_lifetime_value    object
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount             int64
dtype: object

<ipython-input-4-a23c2c50d04c>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
<ipython-input-4-a23c2c50d04c>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [5]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

# Drop duplicates and reset index
df = df.drop_duplicates().reset_index(drop=True)

# Verify duplicates are removed
duplicates_after = df.duplicated().sum()
print(f"Number of duplicate rows after removal: {duplicates_after}")

# Save the cleaned dataset
df.to_csv("cleaned_data.csv", index=False)
print("Cleaned dataset saved as 'cleaned_data.csv'.")

Number of duplicate rows: 2936
Number of duplicate rows after removal: 0
Cleaned dataset saved as 'cleaned_data.csv'.